# Virtual environment
.venv

# .pyc files
*.pyc

# Data directory
data

# Add other directories
.snakemake
.ipynb_checkpoints
pdbtools

# Large model/data directories
id_lists
figs

# Ignore log files
*.log

# Ignore untitled notebooks
Untitled*
